
/* login page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.no-account{
  color:black;
  font-size: 15px;
text-decoration: none;}
  
p{

  color: red;
  font-size: 15px;
}
.Already {
 color: black ;
 
}
.btn{
  background-color: red;
  border: none;
  
}
.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn {
 margin-left: 3px;
  width: 100%;
  padding: 10px;
  background-color: #f70707;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #f05757;
}

p {
  margin-top: 20px;
}
