body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header {
    background-color:red;
    padding: 15px;
    color: white;
    text-align: center;
}

.header .back-button {
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 15px;
}

.ticket-summary {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ticket-summary h2 {
    margin: 0;
    padding-bottom: 10px;
}

.ticket-summary p {
    margin: 5px 0;
}

.user-details {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-details h3 {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.payment-options {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-methods {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payment-method {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgb(217, 51, 51);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-method i {
    margin-right: 10px;
}

.payment-method:hover {
    background-color:red;
}

.payment-status {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: green;
    display: none;
}

/* Ticket Generation */
.ticket-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#ticketDetails {
    font-size: 18px;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
