body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    color: #333;
}

.sidebar {
    background: #2c2c2c;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    padding: 20px 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    font-size: 22px;
    color: #ff4d4d;
    margin-bottom: 30px;
}
.sidebar  h2:hover{
    color: white;
    }


.sidebar a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #ccc;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}
.sidebar  a :hover{
    color: white;
    }

.sidebar a.active, .sidebar a:hover {
    background: #ff4d4d;
    color: #fff;
}

.logout-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.logout-btn:hover {
    background: #e63939;
}

.main-content {
    margin-left: 270px;
    padding: 30px;
}

.main-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #444;
}

.section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.profile-info div, .booking-card {
    margin-bottom: 15px;

}
.profile-info div,.booking-card{
    margin-left: 280px;
}
.profile-info label {
    font-weight: bold;
    display: inline-block;
    width: 130px;
}

.profile-info span {
    font-size: 16px;
}

.bookings-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.booking-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(45% - 10px);
    border: 1px solid #b5b2b2;
    
}

.booking-card h2 {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

.booking-card p {
    font-size: 14px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2c2c2c;
    color: #fff;
    margin-top: 30px;
}

footer p {
    margin: 0;
    font-size: 14px;
}