* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: red;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  
  
.show-theaters  a img{
     height: 200px;
     padding: 20px;
     width: 300px;
     border-radius: 20px;
     text-decoration: none;
     text-align: center;
}


.movieName img{
  width: 200px;
  border-radius: 10px;
  height: 300px;
}
.movieName{
  margin-left:50px;
}
.movieName p h1 {

  text-align: center;
}
.show-theaters{
display: flex;
 justify-content: space-around;

}
.container-movie{
  display: flex;
  justify-content: space-between;
}



.show-theaters p{
  color: black;
  text-decoration: none;
} 

main {
  padding: 20px;
  text-align: center;
}

.date-selection {
display: flex;
}
#dateContainer{
  display: flex;


}
.dateItems{
  gap: 10px;
  border: 1px solid;
  padding:5px ;
  margin: 10px;
  border-radius:7px ;
  height: 40px;
  margin-top: 5px;


}

.date-buttons {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.dateItems:hover {
  background-color:red;
  color: white;
}
.dateItems.active {
  background-color:red;
  color: white;
  font-weight: bold;
}

.btn {
  height: 100px;
  background-color:red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.dateActive{
  background-color: rgb(255, 0, 0);
  color: #f8f9fa;
}


.theater{
  height: 350px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  text-align: center;
  justify-content: space-between;
  padding: 30px;
}
.theater:hover{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.theater h2{
  margin: 20px;
}
.theater a  {
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}
.theater a:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
  }

.theater img{
   width: 300px;
   height: 200px;
}