* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: red;
  }
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
.movieName img{
  width: 200px;
  border-radius: 10px;
  height: 300px;
}
.movieName{
  margin-left:50px;
}
.movieName p h1 {
  text-align: center;
}

.container-movie{
  display: flex;
  justify-content: space-between;
}

.showTimings{
  display: none;
}

main {
  padding: 20px;
  text-align: center;
}
.date-selection {
display: flex;
}
#dateContainer{
  display: flex;
  align-items: self-end;
  margin: 20px;
  gap: 20px;
}
.dateItems{
  gap: 10px;
  border: 1px solid;
  width: 100px;
  text-align: center;
  padding: 7px;


}

.date-buttons {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.dateItems:hover {
  background-color:red;
  color: white;
}
.dateItems.active {
  background-color:red;
  color: white;
  font-weight: bold;
}

.btn {
  height: 100px;
  background-color:red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.dateActive{
  background-color: rgb(255, 0, 0);
  color: #f8f9fa;
}
.show-theaters{
      width: 500px; 
    height: 100px;
  margin: 20px;
  font-size: 18px;
margin: 50px;
font: 1000;
}
.service{
  display: flex;
  align-items: center;
  margin-top: 20px;

}

.time{
border: 1px solid  #49ba8e ;
padding: 10px 20px ;
border-radius: 4px;
cursor: pointer;
color: #49ba8e;
margin-left: 50px;
align-items: center;
text-align: center;

}
.timeContainer{
  margin: 20px;
  display:flex;
}
.showdiv{
 margin-left: 50px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;;
 display: flex;
 flex-direction: column;
 margin: 20px;
 font-weight: 700;
}


.mobil{
  vertical-align: middle;
  margin-top: -3px;
  color: #49ba8e; 
}

.mobil img{
  width: 20px;
}

.food {
color: #ffa426;
margin-left: 20px;
}

.food img{
  width: 20px;
  margin: 30x;
}
